<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.rwtuts.stacks.Social</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>RWAddonAuthor</key>
	<string>RWtuts</string>
	<key>RWAddonManagerIconAsset</key>
	<string>icon_128@2x.png</string>
	<key>RWAddonSupportURL</key>
	<string>http://www.rwtuts.net/support</string>
	<key>assets</key>
	<array>
		<dict>
			<key>fileName</key>
			<string>fonts</string>
		</dict>
	</array>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>http://www.twitter.com/rwtuts</string>
			<key>id</key>
			<string>link</string>
			<key>title</key>
			<string>Profile Link</string>
			<key>toolTip</key>
			<string>Insert the profile link of the social profile you'd like to display.</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>twitter</string>
			<key>id</key>
			<string>network</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>500px</string>
					<key>value</key>
					<string>500px</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ADN</string>
					<key>value</key>
					<string>adn</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Behance</string>
					<key>value</key>
					<string>behance</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Delicious</string>
					<key>value</key>
					<string>delicious</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Deviantart</string>
					<key>value</key>
					<string>deviantart</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Digg</string>
					<key>value</key>
					<string>digg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Dribbble</string>
					<key>value</key>
					<string>dribbble</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Facebook</string>
					<key>value</key>
					<string>facebook</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Flickr</string>
					<key>value</key>
					<string>flickr</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Pocket</string>
					<key>value</key>
					<string>get-pocket</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Github</string>
					<key>value</key>
					<string>github</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Google Plus</string>
					<key>value</key>
					<string>google-plus</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Instagram</string>
					<key>value</key>
					<string>instagram</string>
				</dict>
				<dict>
					<key>title</key>
					<string>LastFM</string>
					<key>value</key>
					<string>lastfm</string>
				</dict>
				<dict>
					<key>title</key>
					<string>LinkedIn</string>
					<key>value</key>
					<string>linkedin</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Medium</string>
					<key>value</key>
					<string>medium</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Pinterest</string>
					<key>value</key>
					<string>pinterest-p</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Reddit</string>
					<key>value</key>
					<string>reddit-alien</string>
				</dict>
				<dict>
					<key>title</key>
					<string>RSS</string>
					<key>value</key>
					<string>rss</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Skype</string>
					<key>value</key>
					<string>skype</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Slack</string>
					<key>value</key>
					<string>slack</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Snapchat</string>
					<key>value</key>
					<string>snapchat-ghost</string>
				</dict>
				<dict>
					<key>title</key>
					<string>SoundCloud</string>
					<key>value</key>
					<string>soundcloud</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Spotify</string>
					<key>value</key>
					<string>spotify</string>
				</dict>
				<dict>
					<key>title</key>
					<string>StackOverflow</string>
					<key>value</key>
					<string>stackoverflow</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Steam</string>
					<key>value</key>
					<string>steam</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Tripadvisor</string>
					<key>value</key>
					<string>tripadvisor</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Tumblr</string>
					<key>value</key>
					<string>tumblr</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Twitch</string>
					<key>value</key>
					<string>twitch</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Twitter</string>
					<key>value</key>
					<string>twitter</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Vimeo</string>
					<key>value</key>
					<string>vimeo</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Vine</string>
					<key>value</key>
					<string>vine</string>
				</dict>
				<dict>
					<key>title</key>
					<string>WhatsApp</string>
					<key>value</key>
					<string>whatsapp</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Wikipedia</string>
					<key>value</key>
					<string>wikipedia-w</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Wordpress</string>
					<key>value</key>
					<string>wordpress</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Xing</string>
					<key>value</key>
					<string>xing</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Yelp</string>
					<key>value</key>
					<string>yelp</string>
				</dict>
				<dict>
					<key>title</key>
					<string>YouTube</string>
					<key>value</key>
					<string>youtube</string>
				</dict>
			</array>
			<key>title</key>
			<string>Social Network</string>
			<key>toolTip</key>
			<string>Select the social network you'd like to display.</string>
			<key>type</key>
			<string>select</string>
		</dict>
	</array>
	<key>group</key>
	<string>RWtuts</string>
	<key>helpURL</key>
	<string>http://www.rwtuts.net/stacks/social</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Display Icons and Links to your social networks</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Social</string>
	<key>author</key>
	<string>RWtuts</string>
	<key>tags</key>
	<array>
		<string>Social</string>
		<string>Icon</string>
		<string>Embed</string>
		<string>Link</string>
		<string>Twitter</string>
	</array>
</dict>
</plist>
