<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvinniedt.stacks.timelinetwo</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>RWtuts</string>
			<key>id</key>
			<string>username</string>
			<key>title</key>
			<string>Username</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>350529823824809984</string>
			<key>id</key>
			<string>user_id</string>
			<key>title</key>
			<string>User ID</string>
			<key>toolTip</key>
			<string>Can't find your ID? Take a look at our FAQs at http://support.rwtuts.net</string>
			<key>type</key>
			<string>input</string>
		</dict>
	</array>
	<key>group</key>
	<string>Marvin Niedt</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Display your Twitter Timeline</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Timeline</string>
</dict>
</plist>
