<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvinniedt.stacks.skypebuttontwo</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>RWtuts</string>
			<key>id</key>
			<string>profile_id</string>
			<key>title</key>
			<string>Skype Name</string>
			<key>toolTip</key>
			<string>Enter the Skype Name of the profile you want to display. NOTE: Use the real Skype name, not just the Username - the Stack doesn't recognize Usernames</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>blue</string>
			<key>group</key>
			<string>Color</string>
			<key>id</key>
			<string>color</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Blue</string>
					<key>value</key>
					<string>blue</string>
				</dict>
				<dict>
					<key>title</key>
					<string>White</string>
					<key>value</key>
					<string>white</string>
				</dict>
			</array>
			<key>title</key>
			<string>Color</string>
			<key>toolTip</key>
			<string>change the color of the button.</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>blue</string>
			<key>group</key>
			<string>Size</string>
			<key>id</key>
			<string>size</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>10px</string>
					<key>value</key>
					<string>10</string>
				</dict>
				<dict>
					<key>title</key>
					<string>12px</string>
					<key>value</key>
					<string>12</string>
				</dict>
				<dict>
					<key>title</key>
					<string>14px</string>
					<key>value</key>
					<string>14</string>
				</dict>
				<dict>
					<key>title</key>
					<string>16px</string>
					<key>value</key>
					<string>16</string>
				</dict>
				<dict>
					<key>title</key>
					<string>24px</string>
					<key>value</key>
					<string>24</string>
				</dict>
				<dict>
					<key>title</key>
					<string>32px</string>
					<key>value</key>
					<string>32</string>
				</dict>
			</array>
			<key>title</key>
			<string>Size</string>
			<key>toolTip</key>
			<string>change the size of the button.</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>chat</string>
			<key>group</key>
			<string>Adjustments</string>
			<key>id</key>
			<string>class</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Chat Button</string>
					<key>value</key>
					<string>chat</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Call Button</string>
					<key>value</key>
					<string>call</string>
				</dict>
			</array>
			<key>title</key>
			<string>Type</string>
			<key>toolTip</key>
			<string>change the class type of the widget. A chat button redirects to a Skype chat with that specific user, a call button automatically calls the contact.</string>
			<key>type</key>
			<string>select</string>
		</dict>
	</array>
	<key>group</key>
	<string>RWtuts</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Add a clean, flat Skype button to your website with ease.</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Skype Button 2</string>
	<key>author</key>
	<string>RWtuts</string>
	<key>tags</key>
	<array>
		<string>Skype</string>
		<string>Button</string>
		<string>Chat</string>
		<string>Call</string>
		<string>Phone</string>
		<string>Instant</string>
		<string>Messenger</string>
	</array>
</dict>
</plist>
