<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvinniedt.stacks.weatheristtwo</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>http</string>
			<key>id</key>
			<string>format</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Non-SSL (http)</string>
					<key>value</key>
					<string>http</string>
				</dict>
				<dict>
					<key>title</key>
					<string>SSL (https)</string>
					<key>value</key>
					<string>https</string>
				</dict>
			</array>
			<key>title</key>
			<string>Format</string>
			<key>toolTip</key>
			<string>Change between Non-SSL (http) and SSL (https) usage.</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>49.898814</string>
			<key>id</key>
			<string>latitude</string>
			<key>title</key>
			<string>Latitude</string>
			<key>toolTip</key>
			<string>Enter the latitude of the place you'd like to use with the Stack.</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>10.902764</string>
			<key>id</key>
			<string>longitude</string>
			<key>title</key>
			<string>Longitude</string>
			<key>toolTip</key>
			<string>Enter the longitude of the place you'd like to use with the Stack.</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Berlin, Germany</string>
			<key>id</key>
			<string>cityname</string>
			<key>title</key>
			<string>City Name</string>
			<key>toolTip</key>
			<string>Enter the name of the city you'd like to use with the Stack.</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>ca</string>
			<key>id</key>
			<string>units</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Fahrenheit and mph</string>
					<key>value</key>
					<string>us</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Celsius and mph</string>
					<key>value</key>
					<string>uk</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Celsius and km/h</string>
					<key>value</key>
					<string>ca</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Celsius and m/s</string>
					<key>value</key>
					<string>si</string>
				</dict>
			</array>
			<key>title</key>
			<string>Units</string>
			<key>toolTip</key>
			<string>Customize the units of the weather widget.</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>#000000</string>
			<key>id</key>
			<string>color</string>
			<key>title</key>
			<string>Color</string>
			<key>toolTip</key>
			<string>Customize the color of the weather widget.</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Helvetica</string>
			<key>group</key>
			<string>Font</string>
			<key>id</key>
			<string>font</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Helvetica</string>
					<key>value</key>
					<string>Helvetica</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Aller</string>
					<key>value</key>
					<string>Aller</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Arial</string>
					<key>value</key>
					<string>Arial</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Times New Roman</string>
					<key>value</key>
					<string>Times New Roman</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Courier New</string>
					<key>value</key>
					<string>Courier New</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Museo Slab</string>
					<key>value</key>
					<string>Museo Slab</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Avenir</string>
					<key>value</key>
					<string>Avenir</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Futura</string>
					<key>value</key>
					<string>Futura</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Comic Sans MS</string>
					<key>value</key>
					<string>Comic Sans MS</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Pacifico</string>
					<key>value</key>
					<string>Pacifico</string>
				</dict>
			</array>
			<key>title</key>
			<string>Font</string>
			<key>toolTip</key>
			<string>Customize the font of the weather widget.</string>
			<key>type</key>
			<string>select</string>
		</dict>
	</array>
	<key>group</key>
	<string>RWtuts</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Add a beautiful animated weather widget to your website.</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Weatherist 2</string>
	<key>author</key>
	<string>RWtuts</string>
	<key>tags</key>
	<array>
		<string>Weather</string>
		<string>widget</string>
		<string>forecast</string>
		<string>sunny</string>
		<string>rainy</string>
		<string>cloudy</string>
		<string>stormy</string>
		<string>snow</string>
		<string>ice</string>
		<string>temperature</string>
		<string>hot</string>
		<string>warm</string>
		<string>cold</string>
		<string>rwtuts</string>
	</array>
</dict>
</plist>
