<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvinniedt.stacks.spotifythreealbum</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>RWAddonAuthor</key>
	<string>RWtuts</string>
	<key>RWAddonManagerIconAsset</key>
	<string>icon_128@2x.png</string>
	<key>RWAddonSupportURL</key>
	<string>http://www.rwtuts.net/support</string>
	<key>assets</key>
	<array>
		<dict>
			<key>fileName</key>
			<string>preview.png</string>
			<key>siteAsset</key>
			<true/>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>http://www.rwtuts.net/appcasts/spotify/appcast.xml</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>copyright</key>
	<string>Spotify v3.0 - Album - Copyright 2017 RWtuts</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>08ibdX8K0GETv20UEku3sm</string>
			<key>group</key>
			<string>Spotify 3 Album Customisation</string>
			<key>id</key>
			<string>albumid</string>
			<key>title</key>
			<string>Spotify Album ID</string>
			<key>toolTip</key>
			<string>Enter the Spotify album ID (f.e. 08ibdX8K0GETv20UEku3sm)</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>black</string>
			<key>group</key>
			<string>Spotify 3 Album Customisation</string>
			<key>id</key>
			<string>style</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Light</string>
					<key>value</key>
					<string>white</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Dark</string>
					<key>value</key>
					<string>black</string>
				</dict>
			</array>
			<key>title</key>
			<string>Appearance</string>
			<key>toolTip</key>
			<string>Customise appearance of the widget by choosing between a light and a dark theme</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>list</string>
			<key>group</key>
			<string>Spotify 3 Album Customisation</string>
			<key>id</key>
			<string>view</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>List View</string>
					<key>value</key>
					<string>list</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Cover View</string>
					<key>value</key>
					<string>coverart</string>
				</dict>
			</array>
			<key>title</key>
			<string>View Mode</string>
			<key>toolTip</key>
			<string>Customise the view mode of the widget by choosing between a list and a cover mode</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>300</string>
			<key>group</key>
			<string>Spotify 3 Album Customisation</string>
			<key>id</key>
			<string>playerwidth</string>
			<key>max</key>
			<string>640</string>
			<key>min</key>
			<string>250</string>
			<key>ticks</key>
			<string>10</string>
			<key>title</key>
			<string>Player Width</string>
			<key>type</key>
			<string>slider</string>
			<key>units</key>
			<string>px</string>
		</dict>
		<dict>
			<key>default</key>
			<string>380</string>
			<key>group</key>
			<string>Spotify 3 Album Customisation</string>
			<key>id</key>
			<string>playerheight</string>
			<key>max</key>
			<string>720</string>
			<key>min</key>
			<string>80</string>
			<key>ticks</key>
			<string>10</string>
			<key>title</key>
			<string>Player Height</string>
			<key>type</key>
			<string>slider</string>
			<key>units</key>
			<string>px</string>
		</dict>
	</array>
	<key>group</key>
	<string>RWtuts</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Embed an album from Spotify.</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Spotify 3 Album</string>
	<key>author</key>
	<string>RWtuts</string>
	<key>tags</key>
	<array>
		<string>Spotify</string>
		<string>Music</string>
		<string>Player</string>
		<string>embed</string>
	</array>
</dict>
</plist>
