<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvinniedt.stacks.countdown</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>2400</string>
			<key>id</key>
			<string>year</string>
			<key>title</key>
			<string>Year</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>12</string>
			<key>id</key>
			<string>month</string>
			<key>title</key>
			<string>Month</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>31</string>
			<key>id</key>
			<string>day</string>
			<key>title</key>
			<string>Day</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>0</string>
			<key>id</key>
			<string>hour</string>
			<key>title</key>
			<string>Hour</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>0</string>
			<key>id</key>
			<string>minute</string>
			<key>title</key>
			<string>Minute</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>0</string>
			<key>id</key>
			<string>second</string>
			<key>title</key>
			<string>Second</string>
			<key>type</key>
			<string>input</string>
		</dict>
	</array>
	<key>group</key>
	<string>Marvin Niedt</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Add a simple but powerful countdown to your site</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Countdown</string>
</dict>
</plist>
