<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvinniedt.stacks.vimeoweavertwo</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<string>137982434</string>
			<key>id</key>
			<string>videoid</string>
			<key>title</key>
			<string>Video ID</string>
			<key>type</key>
			<string>input</string>
		</dict>
	</array>
	<key>group</key>
	<string>RWtuts</string>
	<key>icon</key>
	<string>icon</string>
	<key>javascriptFile</key>
	<string>script.js</string>
	<key>javascriptLib</key>
	<string>jQuery</string>	
	<key>subtitle</key>
	<string>Embed responsive Vimeo videos using HTML5</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>VimeoWeaver 2</string>
	<key>author</key>
	<string>RWtuts</string>
	<key>tags</key>
	<array>
		<string>VimeoWeaver</string>
		<string>Vimeo</string>
		<string>Video</string>
		<string>Responsive</string>
	</array>
</dict>
</plist>
